:root {
  --background-color: #8dabab;

  --grey-000: #ffffff;
  --grey-100: gainsboro;

  --yellow-400: #ffeb3b;

  --red-400: #ff3b3b;

  --spacing-gap: 1em;
}

@media screen and (min-width: 768px) {
  :root {
    --spacing-gap: 2em;
  }
}