:root,
.app {
  min-height: 100svh;
  background-color: var(--background-color);

  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.appHeader {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  padding-top: 2em;
  padding-inline: calc(var(--spacing-gap) / 2);
  padding-bottom: calc(var(--spacing-gap) / 2);

  /* City View at London by Dominika Gregušová https://www.pexels.com/photo/city-view-at-london-672532/ */
  background-image: url("./images/pexels-photo-672532.jpeg");
  background-position: center;
  background-size: cover;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-gap) / 2);
  padding: calc(var(--spacing-gap) / 2);

  width: min-content;
  min-width: 100%;

  background-color: var(--grey-000);
  border-radius: calc(var(--spacing-gap) / 2);
}

.occupancyFilters {
  display: flex;
  gap: calc(var(--spacing-gap) / 2);
}

.appContent {
  padding: calc(var(--spacing-gap) / 2);
}

.contentLoader {
  background-color: var(--grey-000);
  border: 1px solid var(--grey-100);
  padding: var(--spacing-gap);
}

.contentEmpty,
.contentError {
  background-color: var(--grey-000);
  border: 1px solid var(--grey-100);
  padding: var(--spacing-gap);
  text-align: center;
}

.contentError {
  border: 1px solid var(--red-400);
}

@media screen and (min-width: 768px) {
  .appHeader {
    padding-top: 4em;
    padding-bottom: 0;
    margin-bottom: 1em;
    grid-template-columns: auto;
  }

  .filtersContainer {
    flex-direction: row;
    gap: var(--spacing-gap);
    padding: calc(var(--spacing-gap) / 2) var(--spacing-gap);

    position: relative;
    top: calc(var(--spacing-gap));
  }

  .occupancyFilters {
    gap: var(--spacing-gap);
  }

  .appContent {
    padding: var(--spacing-gap);
  }
}

@media screen and (min-width: 1024px) {
  .appHeader {
    padding-top: 10em;
  }

  .appContent {
    max-width: 85vw;
    margin: auto;
  }
}